# RAGAS Evaluation
ragas>=0.1.0
datasets>=2.14.0

# LangChain
langchain>=0.1.0
langchain-openai>=0.0.5
langchain-community>=0.0.10

# Utilities
pandas>=2.0.0
python-dotenv>=1.0.0

# RAG
pymilvus>=2.6.8
pymilvus[model]>=0.3.2
milvus_lite>=2.5.1
torch>=2.10.0
transformers==44.57.6
